= form_tag coupon_users_reports_path, method: :get, class: "row" do
  .col-sm-4
    = select_tag :coupon_id, coupon_options(params[:coupon_id]), class: "form-control"
  .col-xs-2
    = submit_tag "submit", method: :get, class: "btn btn-primary"

- if @coupon
  %table.table
    %thead
      %th User Email
      %th Arrived orders count
      %th Total revenue
    %tbody
      - @coupon.users.each do |user|
        %tr
          %td= user.email
          %td= user.arrived_orders_count(@coupon.id)
          %td= user.arrived_orders_revenue(@coupon.id)
